* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9fb;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.letter {
    background: white;
    padding: 20px;
    /* padding-top: 10px; */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: #b56576;
    margin-bottom: 20px;
    font-size: 26px;
}

.message {
    margin: 20px 0;
    font-size: 16px;
}

.proposal-box {
    text-align: center;
    margin: 25px 0;
    padding: 15px;
    background: #fdf2f8;
    border-radius: 5px;
}

.question {
    font-size: 22px;
    color: #b56576;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.yes-btn {
    background: #b56576;
    color: white;
}

.no-btn {
    background: #e9ecef;
    color: #495057;
}

.yes-btn:hover {
    background: #9d4c5f;
}

.no-btn:hover {
    background: #dee2e6;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #8a817c;
}

.heart {
    color: #e91e63;
}


.letter {
    animation: fadeIn 1.5s ease-in;
}

.message:nth-child(2) {
    animation: fadeIn 2s ease-in;
}

.message:nth-child(3) {
    animation: fadeIn 2.5s ease-in;
}

.proposal-box {
    animation: fadeIn 3s ease-in;
}


#successMsg {
    display: none;
    margin-top: 10px;
    color: #2d6a4f;
    font-size: 14px;
}

#successMsg.show {
    display: block;
}


.select_date {
    display: none;
    background: pink;
    font-size: 14px;
    margin: 20px auto;
    text-align: center;
}